body {
    height: 100vh;
    background: #f9d9d2;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    padding: 50px;
}

h1 {
    color: #863a03;
    font-weight: 700;
}

h2 {
    color: #863a03;
    font-weight: 400;
}

p {
    font-weight: 300;
}

/* HEADER */
#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header h1 {
    text-align: center;
}

/* MENU */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu button {
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4a240d;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    margin-top: 20px;
}

#menu button:hover {
    background-color: #9b4b1b;
}

#start_online_game {
    cursor: default!important;
    background-color: gray!important;
}

#stop_game{
    display: none;
}


/* GAME */
#game {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.board {
    display: flex;
}

.pit-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pit {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
}

.board h3 {
    text-align: center;
}

#status {
    text-align: center;
    font-weight: 300;
    margin: 14px;
}

.mancala {
    width: 100px;
    height: 125px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 700;
    font-size: 30px;
}

.player-0 {
    background-color: #cbf2ab;
}

.player-0.highlight{
    background-color: #7aae4f;
}

.player-1 {
    background-color: #ffd2a3;
}

.player-1.highlight{
    background-color: #d27c22;
}

.active {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.pit.player-0.active:hover {
    background-color: #7aae4f;
}

.pit.player-1.active:hover {
    background-color: #d27c22;
}

/* HOW TO PLAY */
#how-to-play {
    display: none;
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    text-align: justify;
}

#how-to-play h2 {
    text-align: center;
    margin-bottom: 20px;
}

#how-to-play p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
